{% load static %}
{% include "portal/home/header.html"  %}
<body>
<div class="container mt-3">
  <button type="button" class="btn btn-primary mainclick" data-toggle="modal" data-target="#exampleModalCenter">
    Importer
  </button>
  <input type="hidden" id="nextgen" name="nextgen" value="{% if user.is_authenticated %}{{ user.id}}{% endif %}">
  <!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Importer</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form  method="POST" action="/profileimporter"  name="fileimport11" id="fileimport11" enctype="multipart/form-data">
          {% csrf_token %}
        <input type="file" name="fileimport" id="fileimport" required>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Save</button>
      </form>
      </div>
    </div>
  </div>
</div>
  <h2>Teacher Directory</h2>
  <p>Type something in the input field to search the table for first names, last names or emails:</p>  
  <input class="form-control" id="myInput" type="text" placeholder="Search..">
  <br>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Email</th>
        <th>Subject</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody id="myTable">
        {% if teacher %}  
        {% for teach in teacher %}
      <tr>
        <td>{{teach.firstname}}</td>
        <td>{{teach.lastname}}</td>
        <td>{{teach.email}}</td>
        <td>{{teach.subjects}}</td>
        <td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal{{teach.id}}">
            Profile
          </button></td>      
      </tr>
      <!-- Modal in the same view -->
      <div class="modal fade" id="exampleModal{{teach.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Teacher Details</h4>
                </div>
                <div class="modal-body">
                  First Name : {{teach.firstname}}
                  <br/>
                  Last Name : {{teach.lastname}}
                  <br/>
                  
                  {% if teach.profileimg %}  
                  Profile picture : <img src="/media/profile/{{teach.profileimg}}" width="50px" height="50px">
                  {% else %}
                  Profile picture : <img src="/media/default-avatar-photo-placeholder.jpg" width="50px" height="50px">
                  {% endif %}
                  
                  <br/>
                  Email : {{teach.email}}
                  <br/>
                  phone : {{teach.phone}}
                  <br/>
                  Room Number : {{teach.room_number}}
                  <br/>
                  Subjects : {{teach.subjects}}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div>
      <!-- /Modal -->
      {% endfor %}
      {% else %}
      <tr>
        <td>No records found</td>
      </tr>
      {% endif %}
      <!-- <tr>
        <td>Mary</td>
        <td>Moe</td>
        <td>mary@mail.com</td>
        <td><button type="button" class="btn btn-primary">Profile</button></td>
      </tr> -->
    </tbody>
  </table>
  
  <p>Note that we start the search in tbody, to prevent filtering the table headers.</p>
</div>

<script src="{% static 'js/custom.js' %}"
type="text/javascript"></script>  
<script>
  $(document).ready(function(){

    $("#myInput").on("keyup", function() {
      var value = $(this).val().toLowerCase();
      $("#myTable tr").filter(function() {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
      });
    });
    $(".mainclick").on("click", function() {
      var value = $("#nextgen").val()
      if(value=="")
      {   
        alert('Please login before import')
        window.location.replace("/admin");     
      }
    });   
  });
</script>
</body>
</html>